
.leaflet-container {
  width: 50em;
  height:45em;
  border-radius:19px;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  padding-right: 550px;
  margin-left: -10vw;


}

.denuncias {
  background-color:#ffffff;
  width: 30vw;
  border-radius:19px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  position:fixed;
  margin-left: 35vw;
  margin-top: -35vw;
  color: rgb(48, 47, 47);
  text-align:"center";

}

.map {

  position:fixed;
  margin-left: 10vw;
  margin-top: 5vw;

}

.nav{
  background-color:"#77C4EE";
  margin-left: -5.2vw;


}

.colorb{
  background-color: #77C4EE;
  border-radius:12px;
  border: 2px solid #77C4EE;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color:#000000;
  width: 100%;
  height: 40px;
}